name: docker

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.17"

      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: go get ./...

      - run: go build -o dist/app

      - run: docker build -t ghcr.io/trim21/my-site-proxy:latest .

      - run: |
          echo $DOCKER_TOKEN | docker login ghcr.io -u Trim21 --password-stdin
          docker push ghcr.io/trim21/my-site-proxy:latest
        if: github.event_name == 'push'
        env:
          DOCKER_TOKEN: ${{ github.token }}
